# CMake build folder
build/

# external repos
imgui/
implot
imgui.ini

# Generated compiler database
compile_commands.json

# Optional editor/cache files
.vscode/ipch/
.cache/

# Internal docs
NOTES.md
.markdownlint.json
Notes/
.obsidian/
