[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot.git
[submodule "extern/pocketfft"]
	path = extern/pocketfft
	url = https://github.com/mreineck/pocketfft.git
