# 25 MHz onboard clock
LOCATE COMP "clk_25m" SITE "P6";
IOBUF PORT "clk_25m" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25m" 25.0 MHz;

# 60 MHz ULPI clock input (Header P2 - Pin B1)
LOCATE COMP "ulpi_clk60" SITE "B1";
IOBUF PORT "ulpi_clk60" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "ulpi_clk60" 60.0 MHz;

# ULPI control signals
LOCATE COMP "ulpi_dir"   SITE "B2"; IOBUF PORT "ulpi_dir"   IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_nxt"   SITE "A2"; IOBUF PORT "ulpi_nxt"   IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_stp"   SITE "B3"; IOBUF PORT "ulpi_stp"   IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_reset" SITE "A3"; IOBUF PORT "ulpi_reset" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;

# ULPI 8-Bit data bus
LOCATE COMP "ulpi_data[0]" SITE "B4"; IOBUF PORT "ulpi_data[0]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[1]" SITE "A4"; IOBUF PORT "ulpi_data[1]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[2]" SITE "B5"; IOBUF PORT "ulpi_data[2]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[3]" SITE "A5"; IOBUF PORT "ulpi_data[3]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[4]" SITE "B6"; IOBUF PORT "ulpi_data[4]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[5]" SITE "A6"; IOBUF PORT "ulpi_data[5]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[6]" SITE "B7"; IOBUF PORT "ulpi_data[6]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "ulpi_data[7]" SITE "A7"; IOBUF PORT "ulpi_data[7]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;

# 25 MHz ADC clock output
LOCATE COMP "adc_clk_out" SITE "T3"; 
IOBUF PORT "adc_clk_out" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
FREQUENCY PORT "adc_clk_out" 25.0 MHz;

# ADC control signals
LOCATE COMP "adc_otr" SITE "R3"; IOBUF PORT "adc_otr" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;

# ADC data bus
LOCATE COMP "adc_data_raw[0]" SITE "T2"; IOBUF PORT "adc_data_raw[0]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[1]" SITE "R2"; IOBUF PORT "adc_data_raw[1]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[2]" SITE "R1"; IOBUF PORT "adc_data_raw[2]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[3]" SITE "P2"; IOBUF PORT "adc_data_raw[3]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[4]" SITE "P1"; IOBUF PORT "adc_data_raw[4]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[5]" SITE "N3"; IOBUF PORT "adc_data_raw[5]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[6]" SITE "N1"; IOBUF PORT "adc_data_raw[6]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[7]" SITE "M2"; IOBUF PORT "adc_data_raw[7]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[8]" SITE "M1"; IOBUF PORT "adc_data_raw[8]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[9]" SITE "L2"; IOBUF PORT "adc_data_raw[9]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[10]" SITE "K1"; IOBUF PORT "adc_data_raw[10]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;
LOCATE COMP "adc_data_raw[11]" SITE "G2"; IOBUF PORT "adc_data_raw[11]" IO_TYPE=LVCMOS33 SLEW=FAST PULLMODE=NONE;

# Debug output pin
LOCATE COMP "led_r" SITE "B11";
LOCATE COMP "led_g" SITE "A12";
LOCATE COMP "led_b" SITE "A11";
IOBUF PORT "led_r" IO_TYPE=LVCMOS33;
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;

# ULPI timing constraints
INPUT_SETUP PORT "ulpi_dir" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_nxt" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[0]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[1]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[2]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[3]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[4]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[5]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[6]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";
INPUT_SETUP PORT "ulpi_data[7]" 3.0 ns HOLD 1.0 ns CLKPORT "ulpi_clk60";

CLOCK_TO_OUT PORT "ulpi_stp" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[0]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[1]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[2]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[3]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[4]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[5]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[6]" 6.0 ns CLKPORT "ulpi_clk60";
CLOCK_TO_OUT PORT "ulpi_data[7]" 6.0 ns CLKPORT "ulpi_clk60";
